<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriLab"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MealPlanItem"
            android:exported="false" />
        <activity
            android:name=".MealPlanFoodItem"
            android:exported="false" />
        <activity
            android:name=".AddMealPlanActivity"
            android:exported="false" />
        <activity
            android:name=".MealPlanActivity"
            android:exported="false" />
        <activity
            android:name=".AchievementActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".TrackingActivity"
            android:exported="false" />

        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" />

        <activity
            android:name=".MainGoals"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity android:name=".MealTrackingActivity" />
        <activity android:name=".AddFoodActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SymptomActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".NutritionActivity"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".WaterIntakeActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>